on: [push, pull_request]
name: CI
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Backend - install & test
        working-directory: ./backend
        run: |
          npm ci
      - name: Frontend - install & build
        working-directory: ./frontend
        run: |
          npm ci
          npm run build
